// Variables // 
//=================================

//colors//
$white: #fff;
$viking: #58e1c1;
$grey: #777;
$malibu: #51ddfc;
$viking-light: lighten($viking 15%);

//btn-colors//
$btn-error: #e4757a;
$btn-default: #51ddfc;
$btn-info: #927bc1;
$btn-success: #63cc82;
$btn-warning: #fd7856;


//Fonts//
$primary-font: "Lato", sans-serif;

//media query//
$pad-desktop-screen: 768px;

//sizes//
$primary-size: 10px;
$secondary-size: 20px;
