  .btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: $primary-size 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $btn-default;
  }
  
  .error {
    background-color: $btn-error;
  }
  
  .info {
    background-color: $btn-info;
  }
  
  .success {
    background-color: $btn-success;
  }
  
  .warning {
    background-color: $btn-warning;
  }

@include media-query($pad-desktop-screen) {
  .btn {
    padding: $primary-size 30px;
  }
  
  .btn + .btn {
    margin-left: $primary-size;
  }
}